@import '../../../styles/mixins';

/* 
  REMOVE 
*/
.Title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto';

  @include font-size(80px);
}
